header {
  background-color: #ddcef3;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

nav {
  background-color: #f7ec73;
}

main {
  background-color: #ddcef3;
  font-size: 20px;
}

footer {
  background-color: #f7ec73;
}

li {
  display:inline-block;
  width:auto
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #0b5113
}

p {
  line-height: 1.5;
}